.boards {
    display: flex;
    grid-row: 4;
    grid-column: auto;
    gap: 2%;
    width: 100%;
    flex-wrap: wrap;
}

.board-card {
    display: inline-grid;
    text-decoration: none;
    color: black;
    border: 2px solid grey;
    border-radius: 10px;
    width: fit-content;
    /* height: fit-content; */
    margin-top: 5%;
    padding: 2% 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.board-card:hover {
    cursor: pointer;
}

.img {
    width: 150px;
    justify-self: center;
}

.board-id {
    align-self: self-end;
    color: rgba(0, 0, 0, 0.3);
}

.author {
    background-color: lightblue;
    width: fit-content;
    padding: 1vh 2vh;
    border-radius: 5%;
    font-weight: 600;
}

.tag {
    width: fit-content;
    padding: 1vh 2vh;
    border-radius: 5%;
    font-size: 80%;
}
