.cards-page {
    margin: 4% 15%;
    border-radius: 20px;
    height: fit-content;
}

#cards {
    display: flex;
    flex-direction: row;
    gap: 5.8%;
    flex-wrap: wrap;
    width: 100%;
    padding: 0% 3%;
}

.card {
    border: 2px solid grey;
    border-radius: 10px;
    text-wrap: wrap;
    max-width: 15%;
    margin-top: 5%;
    padding: 2% 2%;
    display: flex;
    flex-direction: column;
}
.card:hover {
    cursor: pointer;
}

.card-id {
    align-self:self-end;
    color: rgba(0, 0, 0, 0.3);
}

.author {
    background-color: lightblue;
    width: fit-content;
    padding: 1vh 2vh;
    border-radius: 5%;
}

.tag {
    width: fit-content;
    padding: 1vh 2vh;
    border-radius: 20px;
    font-size: 80%;
}

.gifs{
    display: flex;
    flex-wrap: wrap;
    border: none;
    gap: 2%;
    justify-self: center;
    margin: 2% 0%;
    width: 100%;
    justify-content: center;
}

.gif {
    width: 20%;
    margin-top: 1%;
    object-fit: cover;
    border-radius: 5px;
}
.gif:hover {
    cursor: pointer;
}

.modal {
    position: fixed;
    flex-direction: column;
    left: 15%;
    top: 15%;
    height: 60%;
    width: 60%;
    background-color: white;
    border: 2px solid grey;
    border-radius: 10px;
    z-index: 1;
    padding: 5% 5%;
    overflow-y: scroll;
}

.show{
    display: flex;
}

.hide {
    display: none;
}

.card-img {
    height: 9%;
    margin-top: 1%;
    object-fit: cover;
    border-radius: 5px;
}

.exit {
    width: 100%;
    text-align: end;
}
.exit:hover {
    cursor: pointer;
}

.card-img {
    width:  100%;
    height: fit-content;
}

.comment {
    padding: 3% 3%;
    width: 60%;
    background-color: lightgrey;
    border-radius: 10px;
}
