.bar {
    padding: 1% 4%;
    margin: 3% 0%;
    border-radius: 20px;
    background-color: lightgrey;

}

.button {
    font-family: "Albert Sans";
    text-transform: capitalize;
    padding: 1%;
    border-radius: 20px;
    margin: 1% 0%;
}
.button:hover {
    cursor: pointer;
}

.navigation-icon:hover {
    cursor: pointer;
}

.sidebar {
    width: 18%;
    height: 75%;
    position: fixed;
    right: 0%;
    margin: 1% 1%;
    border-radius: 10px;
    padding: 3% 2%;
    background-color: lightgrey;

}

.page {
    margin: 4% 25% 4% 5%;
    border-radius: 20px;
    height: fit-content;
}

.deck {
  display: flex;
}

.navigation-bar {
  height: 15%;
  width: 92%;
  padding: 3% 4%;
  border: 2px solid black;
  border-radius: 20px;
}

.button {
  border-radius: 5px;
  font-weight: 900;
}

.create-button {
  border: 3px solid grey;
  background-color: grey;
  padding: 1% 2%;
  font-size: large;
  color: white;

  transition-duration: 0.5s;
}
.create-button:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}

.search-bar {
  border-radius: 10px;
}

.create-modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 22%;
  top: 25%;
  height: 49%;
  width: 50%;
  background-color: white;
  border: 2px solid grey;
  border-radius: 10px;
  z-index: 1;
  padding: 5% 5%;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.form-input {
  width: 90%;
  border-radius: 8px;
  padding: 2% 5%;
  border: 2px solid grey;
  font-family: "Albert Sans"
}

.author-field {
  background-color: whitesmoke;
}

#author {
  width: 70%;
}

.tag-filters {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2%;
  padding: 0% 3%;
}
.tag-filters:hover {
  cursor: pointer;
}

.tag {
  width: fit-content;
  padding: 1vh 2vh;
  border-radius: 10px;
}

.submit-button {
  width: 30%;
  border-radius: 5px;
  margin: 3% 0%;
  padding: 1%;
  align-self: center;
  background-color: white;
  border: 2px solid lightgrey;

  transition-duration: 0.5s;
}
.submit-button:hover {
    background-color: lightgrey;
}

.warning {
  color: red;
  font-weight: 700;
  justify-self: center;
  font-family: "Albert Sans";
  font-weight: 600;
}
